.resultwindow{
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 5px #afafaf;
    
    .title{
        padding: 10px;
        background-color: #8395be;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
        .name{
            font-size: 1.3em;
            margin-left: 10px;
            margin-right: 10px;
        }

        .closeres{
            position: absolute;
            top: 15px;
            right: 10px;
            font-size: larger;
            line-height: 15px;
            cursor: pointer;
            
            &:hover{
                font-weight: bold;
            }
        }

        .navigator{
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
        }
    }

    .body{
        padding:10px;

        .result-table{
            width: 100%;
            border-collapse: collapse;

            tr{
                &:nth-child(even){background-color: #f2f2f2;}
                &:hover {background-color: #ddd;}

                td{
                    border: 1px solid #ddd;
                    padding: 8px;
                }
            }
        }
 
    }
}