.resultwindow{
    position: absolute;
    background: white;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 350px;
    border-radius: 5px;
    box-shadow: 0 0 5px #afafaf;

    &.hide{
        display: none !important;
    }
    
    .title{
     
        background-color: #8395be;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;

        .name{
            font-size: 1.3em;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px 0;
            flex: 1;
        }

        .mat-icon.navigation{
            font-size: 45px;
            height: 45px;
            width: 45px;
            cursor: pointer;

            &:hover{
                background-color: #7e8cad;
            }
        }

        .mat-icon.closer{
            position: absolute;
            top: -12px;
            right: -10px;
            cursor: pointer;
            color: #da7575;
            background: white;
            border-radius: 50%;
            
            &:hover{
                color: red;
            }
        }

    }

    .body{
        padding:10px;

        .result-table{
            width: 100%;
            border-collapse: collapse;
            font-size: .9em;

            tr{
                &:nth-child(even){background-color: #f2f2f2;}
                &:hover {background-color: #ddd;}

                td{
                    border: 1px solid #ddd;
                    padding: 8px;
                }
            }
        }
 
    }
}