<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Layers
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <!-- <div class="list" *ngFor="let layer of layers" >  -->
  <div class="list" *ngFor="let layer of layers"> 
    <mat-checkbox>{{layer}}</mat-checkbox> 
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>{{layer}}</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </div>
</mat-expansion-panel>
