<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Layers
    </mat-panel-title>
  </mat-expansion-panel-header>


  <!-- <div class="list" *ngFor="let layer of layers" >  -->
  <div class="list" *ngFor="let layer of layers" > 
    <mat-checkbox>{{layer}}</mat-checkbox> 
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  

</mat-expansion-panel>
