<mat-expansion-panel  >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Layers
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <div class="list"> 
    <mat-checkbox [(ngModel)]="checkboxall" (change)="chkselectAll_changed()">Select All</mat-checkbox> 
    <mat-divider></mat-divider>
  </div>

  <div class="list" *ngFor="let layer of layers; let i = index"> 
    <mat-checkbox [(ngModel)]="layer.selected" [name]="layer.name" (change)="chkLayer_changed($event)">
      <img *ngIf="layer.legend" [src]="layer.legend" alt="">
      {{layer.name}}
    </mat-checkbox> 
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>{{layer.name}}</span>
      </button>
      <button mat-menu-item (click) =zoomToLayer(layer)>
        <mat-icon>center_focus_strong</mat-icon>
        <span>Zoom To Layer</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    <mat-divider *ngIf="i != (layers.length-1)"></mat-divider>
  </div>

</mat-expansion-panel>
