<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Print
    </mat-panel-title>
  </mat-expansion-panel-header>
    
  <mat-form-field>
    <mat-select placeholder="Page size" [(ngModel)]="selectedFormat">
      <mat-option *ngFor="let l of pageSize; let i=index" [value]="l.value"> {{l.label}} </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Resolution" [(ngModel)]="selectedRes">
      <mat-option *ngFor="let l of resolution; let i=index" [value]="l.value"> {{l.label}} </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="text-align: center">
      <button mat-raised-button color="primary" (click)="exportPDF($event)">Export PDF</button>
  </div>


</mat-expansion-panel>