.plot_class{

    background: white;
    width: 500px;
    height: 500px;
    z-index: 1000;
    position: absolute;
    top: 20%;
    right: 20%
}

mat-form-field{
    width: 100%;
}
  