<mat-drawer-container class="example-container"  hasBackdrop="false">
  <!-- drawer content -->
  <mat-drawer mode="over" position="start" [opened]="drawerOpenStatus">
    <mat-accordion>
      <ng-template appWidget></ng-template>
    </mat-accordion>
  </mat-drawer>
  
  <!-- main content -->
  <mat-drawer-content>
    <div class="map-container" id="map"></div>
    <div class="ol-control" style="left: .5em; top: 4.5em; ">
      <button class=" button" type="button" (click)="StartIdentify()">i</button>
    </div>
    <app-result-window></app-result-window>
    <app-dialog></app-dialog>
  </mat-drawer-content>
  
</mat-drawer-container>

<div [class.closed]="!drawerOpenStatus" class="opener" (click)="toggleDrawer()" ></div>