/* You can add global styles to this file, and also import other style files */
body{
    padding: 0; margin:0;
    font-family: 'Roboto';
}

.mat-expansion-panel {
    background-color: white;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused{
    background: white !important;
}