<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Query
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-select placeholder="Select Layers">
      <mat-option *ngFor="let l of layers; let i=index" [value]="l.value"> {{l.label}} </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select Fields">
      <mat-option *ngFor="let l of fields; let i=index" [value]="l.value"> {{l.label}} </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="operators">
    <button mat-stroked-button>&#61;</button>
    <button mat-stroked-button>&#60;</button>
    <button mat-stroked-button>&#62;</button>
    <button mat-stroked-button>&#60;&#61; </button>
    <button mat-stroked-button>&#62;&#61; </button>
    <button mat-stroked-button>LIKE</button>
    <button mat-stroked-button>AND</button>
    <button mat-stroked-button>OR</button>
    <button mat-stroked-button>NOT</button>
  </div>

  <mat-form-field style="padding-top: 15px;">
    <input matInput placeholder="Enter value" >
  </mat-form-field>
  <mat-form-field style="padding-top: 15px;">
    <textarea matInput placeholder="Final query" ></textarea>
  </mat-form-field>

  <div style="text-align: center">
      <button mat-raised-button color="primary">Search</button>
  </div>



</mat-expansion-panel>
