<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Search
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-select placeholder="Select Layers" (selectionChange)="onLayerChange($event)" >
      <mat-option *ngFor="let l of layers; let i=index" [value]="l.value"> {{l.label}} </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select Fields"  [(ngModel)]="selectedFieldName" (selectionChange)="onFieldChange($event)">
      <mat-option  *ngFor="let l of fields; let i=index" [value]="l.value"> {{l.label}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select operation" [(ngModel)]="selectedOprator"  >
      <mat-option *ngIf="operatorType!='string'" value ="&#60;">Less than</mat-option>
      <mat-option *ngIf="operatorType!='string'" value ="&#62;">greater than</mat-option>
      <mat-option value ="&#61;">Equal to</mat-option>
      <mat-option *ngIf="operatorType!='string'" value ="&#60;&#61;">less than equal to</mat-option>
      <mat-option *ngIf="operatorType!='string'" value ="&#61;&#61;">greater than equal to</mat-option>
      <mat-option *ngIf="operatorType=='string'" value ="LIKE">LIKE</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="padding-top: 15px;">
    <input matInput placeholder="Enter value" [(ngModel)] = "enteredValue" >
  </mat-form-field>
  
  <div style="text-align: center">
      <button mat-raised-button color="primary" (click)="SearchFeatures()">Search</button>
      <button style="margin-left: 15px;" mat-raised-button color="primary" (click)="Clear()">Clear</button>
  </div>

</mat-expansion-panel>
